<ion-card class="centered-box">

  <ion-card-header color="primary" class="ion-text-center">
    <ion-card-title>{{ 'access.newPassword.form.title' | translate }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p class="text--information">
      {{ 'access.newPassword.form.subtitle' | translate }}
    </p>

    <form [formGroup]="form" novalidate (ngSubmit)="sendNewPassword($event)">
      <ion-list>
        
        <!-- PASSWORD -->
        <ion-item>
          <ion-label position="floating">{{ 'access.newPassword.form.password' | translate }} <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input formControlName="password" type="password" required></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.password" class="ion-text-end">
          <ng-container *ngIf="password.hasError(error.type) && (password.touched || password.dirty)">
            <small class="error-message">{{ error.message }}</small>
          </ng-container>
        </div>

        <!-- CONFIRM PASSWORD -->
        <ion-item>
          <ion-label position="floating">{{ 'access.newPassword.form.confirmationPassword' | translate }} <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input formControlName="password_confirmation" type="password" required></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.password_confirmation" class="ion-text-end">
          <ng-container *ngIf="password_confirmation.hasError(error.type) && (password_confirmation.touched || password_confirmation.dirty)">
            <small class="error-message">{{ error.message }}</small>
          </ng-container>
        </div>
      </ion-list>

      <ion-button
        type="submit"
        [disabled]="form.invalid"
        class="ion-margin-top"
        expand="full"
        shape="round"
      >
        <span *ngIf="!loading">{{ 'access.newPassword.form.button' | translate }}</span>
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
      </ion-button>

      <div class="ion-text-center error-message ion-margin-top">
        <p>{{ errorMessage }}</p>
      </div>
    </form>
    
  </ion-card-content>
</ion-card>
