<!-- <ion-header>
  <ion-toolbar>
    <ion-title>spot</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-grid>
    <!-- Image -->
    <ion-row>
      <ion-col size="12" class="img-box">
        <img [src]="spot.images[0] | composeUrl" [alt]="spot.name">
      </ion-col>
    </ion-row>

    <!-- Title and Ranking -->
    <ion-row class="ion-justify-content-between ion-align-items-center title-row">
        <span class="title">
          {{ spot.name }}
        </span>
        <span>
          <ion-icon size="large" *ngFor="let item of [1,2,3,4,5]" name="star-outline"></ion-icon>        
        </span>      
    </ion-row>

    <!-- Buttons Options -->
    <ion-row class="btn-row">
      <ion-col size="3" class="btn-box">
        <ion-button class="btn-option" fill="clear" (click)="addToTour()">
          <div>
            <ion-icon size="large" name="add-outline"></ion-icon>
            <span class="txt-option">Recorrido</span>
          </div>
        </ion-button>
      </ion-col>

      <ion-col size="3" class="btn-box">
        <ion-button class="btn-option" fill="clear">
          <div>
            <ion-icon size="large" name="map-outline"></ion-icon>
            <span class="txt-option">mapa</span>
          </div>
        </ion-button>
      </ion-col>

      <ion-col size="3" class="btn-box">
        <ion-button class="btn-option" fill="clear">
          <div>
            <ion-icon size="large" name="images-outline"></ion-icon>
            <span class="txt-option">galería</span>
          </div>
        </ion-button>
      </ion-col>

      <ion-col size="3" class="btn-box">
        <ion-button class="btn-option" fill="clear">
          <div>
            <ion-icon size="large" name="star"></ion-icon>
            <span class="txt-option">valorar</span>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Description -->
    <ion-row style="margin-top: 15px;" class="description-row">
      <ion-col size="12">
        {{ spot.description }}
      </ion-col>
      <ion-col size="12">

        <ion-list>
          <ion-item>
            <ion-icon name="location-outline" slot="start"></ion-icon>
            <ion-label>{{ spot.address }}</ion-label>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>


    <ion-button (click)="close()" expand="block" shape="round">
        Cerrar
      </ion-button>


  </ion-grid>

</ion-content>

