ion-grid {
    padding: 0px;
    .img-box{
        padding: 0px;
    }
    .title-row {
        padding-left: 5px;
        padding-right: 5px;
        .title {
            font-size: 20px;
            font-weight: 400;
        }
    }
    .valoration {
        font-size: 2.5rem;
        ion-icon {
            color: #F5E400;
        }
    }
    
    .btn-row {
        margin-top: 20px;
        border-top: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
        .btn-box {
            padding: 0px;
            .btn-option {
                margin: 0;
                width: 100%;
                height: 70px;
                div {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    .txt-option {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    .description-row {
        border-bottom: 1px solid #e9e9e9;
        padding-bottom: 20px;
    }
}


