<app-header title="{{ 'settings.title' | translate }}"></app-header>

<ion-content class="settings__container">
  <ion-list>
    <ion-item>
      <span>{{ 'settings.option1.title' | translate }}</span>
      <ion-toolbar mode="ios">
        <ion-segment [value]="lang" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="es">
            <ion-label>{{ 'settings.option1.value1' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="en">
            <ion-label>{{ 'settings.option1.value2' | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-item>
  </ion-list>
</ion-content>
