<app-header title="ajustes"></app-header>

<ion-content class="settings__container">
  <ion-list>
    <ion-item>
      <span>Idioma</span>
      <ion-toolbar mode="ios">
        <ion-segment value="es" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="es">
            <ion-label>Español</ion-label>
          </ion-segment-button>
          <ion-segment-button value="en">
            <ion-label>Inglés</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-item>
  </ion-list>
</ion-content>
