<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-segment color="primary" value="login" (ionChange)="action()">
    <ion-segment-button value="login">
      <ion-label>Ingreso</ion-label>
    </ion-segment-button>
    <ion-segment-button value="registry">
      <ion-label>Registro</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content>

</ion-content>
