<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-segment color="primary" value="login">
    <ion-segment-button value="login">
      <ion-label>Ingreso</ion-label>
    </ion-segment-button>
    <ion-segment-button value="registry">
      <ion-label>Registro</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content class="ion-padding">

  <ng-container *ngIf="loginSelected">

    <ion-card>
      <ion-card-header color="primary">
        <ion-card-subtitle>Tu ruta virtual a Caleta Olivia</ion-card-subtitle>
        <ion-card-title>New Route</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
    
          <ion-item>
            <ion-label position="floating">Correo <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input autofocus inputmode="email" type="email" required></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Contraseña <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="password" required></ion-input>
          </ion-item>
    
        </ion-list>
        
        <ion-button color="secondary" size="small" fill="clear">
          ¿Olvidó su contraseña?
        </ion-button>
    
        <ion-button class="ion-margin-top" expand="full" shape="round">
          Ingresar
        </ion-button>
    
      </ion-card-content>
    </ion-card>

  </ng-container>

  <ng-container *ngIf="registrySelected">
    <app-registry-form></app-registry-form>
  </ng-container>

  
  

</ion-content>
