<ion-card class="centered-box">
  <ion-card-header color="primary">
    <ion-card-subtitle>Forma parte de la comunidad Caletense</ion-card-subtitle>
    <ion-card-title>Crea tu cuenta</ion-card-title>
  </ion-card-header>
  <ion-card-content>

    <form [formGroup]="form" novalidate (ngSubmit)="registerNewUser($event)">
      <ion-list>

        <!-- NAME -->
        <ion-item>
          <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input formControlName="name" autofocus required></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.name" class="ion-text-end">
          <ng-container *ngIf="name.hasError(error.type) && (name.touched || name.dirty)">
            <small class="error-message">{{ error.message }}</small>
          </ng-container>
        </div>

        <!-- EMAIL -->
        <ion-item>
          <ion-label position="floating">Correo <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input formControlName="email" inputmode="email" type="email" required></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.email" class="ion-text-end">
          <ng-container *ngIf="email.hasError(error.type) && (email.touched || email.dirty)">
            <small class="error-message">{{ error.message }}</small>
          </ng-container>
        </div>

        <!-- PASSWORD -->
        <ion-item>
          <ion-label position="floating">Contraseña <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input formControlName="password" type="password" required></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.password" class="ion-text-end">
          <ng-container *ngIf="password.hasError(error.type) && (password.touched || password.dirty)">
            <small class="error-message">{{ error.message }}</small>
          </ng-container>
        </div>

        <!-- CONFIRM PASSWORD -->
        <ion-item>
          <ion-label position="floating">Confirme su contraseña <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input formControlName="password_confirmation" type="password" required></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.password_confirmation" class="ion-text-end">
          <ng-container *ngIf="password_confirmation.hasError(error.type) && (password_confirmation.touched || password_confirmation.dirty)">
            <small class="error-message">{{ error.message }}</small>
          </ng-container>
        </div>

      </ion-list>

      <!-- SUBMIT -->
      <ion-button type="submit" [disabled]="form.invalid" class="ion-margin-top" expand="full" shape="round">
        <span *ngIf="!loading">Registrarme</span>
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
      </ion-button>

      <div class="ion-text-center error-message ion-margin-top">
        <p>{{ errorMessage }}</p>
      </div>

    </form>


  </ion-card-content>
</ion-card>
