<ion-app>

  <ion-split-pane contentId="menu-content" when="xs" [disabled]="true">
    
    <ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay">
      
      <ion-header>
        
        <ion-toolbar>
          <ion-img src="assets/img/background.png"></ion-img>
        </ion-toolbar>
      
      </ion-header>
      
      <ion-content>

        <ion-list>
          <ion-menu-toggle *ngFor="let item of menu" [autoHide]="false">
            <ion-item [routerLink]="item.redirectTo">
              <ion-icon slot="start" [name]="item.icon"></ion-icon>
              <ion-label class="ion-text-capitalize">{{ item.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
        
      </ion-content>

      <ion-footer class="ion-no-border">
        <ion-toolbar class="ion-text-center">
          <ion-title color="medium" size="small">{{ app }} {{ version }}</ion-title>
        </ion-toolbar>
      </ion-footer>
    
    </ion-menu>
    
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
