<ion-app>

  <ion-split-pane contentId="menu-content" when="xs" [disabled]="true">
    
    <ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay">
      
      <ion-header>
        
        <ion-toolbar>
          <ion-img src="assets/img/background.png"></ion-img>
        </ion-toolbar>
      
      </ion-header>
      
      <ion-content>
        start
      </ion-content>
    
    </ion-menu>
    
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
