<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeComments()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ spot.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item *ngFor="let comment of spot.comments">
      <ion-avatar slot="start">
        <img [src]="comment.user.profile_photo_url">
      </ion-avatar>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <span class="ion-text-left">{{ comment.message }}</span>
      </ion-row>
    </ion-item>

    
  </ion-list>

  <ion-item *ngIf="writing">
    <ion-textarea placeholder="Escríba su comentario aquí..." autoGrow [(ngModel)]="comment">
      <ion-button fill="clear" shape="round" (click)="sendComment()">
        <ion-icon slot="icon-only" name="send-outline"></ion-icon>
      </ion-button>
    </ion-textarea>
  </ion-item>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="writing = !writing">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>